@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

.font-container {
    font-family: 'Montserrat', sans-serif;
}

.header-section {
    height: 1012px;
    background: url("../img/Sections background/section-1(header).jpg") fixed no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    text-align: center;
}

.inner-container {
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
    text-align: center;
}

.header-flex-container {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-image: url("../img/header-bg.png");
}

.header-logo-text {
    font-size: 24px;
    color: #fff;
}

.header-logo-text:before {
    display: inline-block;
    content: url("../img/logo/logo_icon.png");
    vertical-align: middle;
    margin-right: 8px;
}

.green-bold-text {
    font-weight: 700;
    color: #18cfab;
}

.header-nav-menu {
    width: 55%;
    display: flex;
    justify-content: space-evenly;
    font-size: 13px;
    font-weight: 700;
}

.nav-menu-item {
    color: #b8b8b8;
}

.header-section-wordpress-txt {
    font-size: 35px;
    font-weight: 700;
    margin-top: 245px;
    margin-bottom: 45px;
}

.header-section-creative-txt {
    font-size: 70px;
    font-weight: 700;
}

.header-section-buy-txt {
    font-size: 30px;
    font-weight: 300;
    margin-top: 35px;
    margin-bottom: 140px;
}

.btn-with-topshadow {
    display: inline-block;
    width: 165px;
    height: 60px;
    line-height: 60px;
    border-radius: 3px;
    box-shadow: 0 -5px 0 0 #fff;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
}

.btn-bgcolor-green {
    background-color: #18cfab;
}

.btn-bgcolor-blue {
    background-color: #00cbf6;
}

.btn-ml-25 {
    margin-left: 25px;
}

.options-below-header {
    display: flex;
    justify-content: space-around;
}

.options-item {
    flex-basis: 25%;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 120px;
}

.options-item-blackgreen {
    border-top: 7px solid #18cfab;
    background-color: #1c2a33;
    color: #18cfab;
}

.options-item-greenwhite {
    border-top: 7px solid #fff;
    background-color: #18cfab;
    color: #fff;
}

.green-options-img {
    margin-top: 95px;
    margin-bottom: 50px;
}

.white-options-img {
    margin-top: 105px;
    margin-bottom: 60px;
}

.section-header-2underlines {
    position: relative;
    padding: 100px 0;
    font-size: 36px;
}

.section-header-2underlines::before {
    position: absolute;
    bottom: 65px;
    right: 545px;
    content: '';
    width: 76px;
    border-top: 1px solid #18cfab;
}

.section-header-2underlines::after {
    position: absolute;
    bottom: 62px;
    right: 533px;
    content: '';
    width: 76px;
    border-top: 1px solid #18cfab;
}

.our-services-tabs {
    display: flex;
    height: 70px;
    font-size: 16px;
}

.our-services-title {
    flex-basis: 17%;
    padding: 30px 0;
    border: 1px solid #ebecec;
    background-color: #f8fcfe;
    color: #838484;
    cursor: pointer;
}

.our-services-activetitle {
    position: relative;
    border: 1px solid #18cfab;
    background-color: #18cfab;
    color: #fff;
}

.our-services-activetitle::after {
    content: '';
    position: absolute;
    bottom: -27px;
    left: 83px;
    border: solid 13px transparent;
    border-top: solid 13px #18cfab;
}

.our-services-title:hover {
    border: 1px solid #18cfab;
    background-color: #18cfab;
    color: #fff;
}

.services-tabs-item {
    margin-top: 25px;
    margin-bottom: 100px;
}

.tabs-item-content {
    display: none;
}

.tabs-item-img {
    margin-right: 20px;
}

.tabs-item-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;
    text-align: justify;
}

.purchase-section {
    padding: 125px 0;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../img/Sections background/section-2-img.jpg") fixed no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.purchase-section-bigtext {
    font-size: 40px;
}

.purchase-section-smalltext {
    padding-top: 35px;
    padding-bottom: 75px;
    font-size: 16px;
    color: #fff;
}

.amazing-work-section {
    background-color: #f8fcfe;
    padding-bottom: 100px;
}

.amazing-work-tabs {
    display: flex;
    margin: 0 275px;
}

.amazing-work-titles {
    padding: 23px 20px;
    font-size: 14px;
    border: 1px solid #ebebeb;
    background-color: #fff;
    color: #717171;
    cursor: pointer;
}

.amazing-work-titles:hover {
    color: #18cfab;
}

.amazing-work-activetitles {
    position: relative;
    color: #18cfab;
}

.amazing-work-activetitles::before {
    content: '';
    width: 100%;
    position: absolute;
    top: -2px;
    left: 0;
    border-top: 2px solid #18cfab;
}

.amazing-work-gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}

.work-gallery-item {
    width: 285px;
    height: 208px;
}

/*Amazing Work Section Img Hover*/
.work-gallery-item-hover {
    width: 285px;
    height: 208px;
    box-sizing: border-box;
    border-top: 3px solid #18cfab;
    font-size: 14px;
    padding-top: 45px;
    padding-bottom: 50px;
}

.gallery-item-hover-link {
    display: inline-block;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    margin-right: 5px;
    border-radius: 50%;
    background: url("../img/Amazing_work/hover_icons/link.png") no-repeat center;
    border: 1px solid #18cfab;
}

.gallery-item-hover-zoom {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #18cfab url("../img/Amazing_work/hover_icons/zoom.png") no-repeat center;
}

.pad-t30-b12 {
    padding-top: 30px;
    padding-bottom: 12px;
}

.gallery-item-hover-text {
    font-weight: 300;
    color: #b6b8b8;
}
/*Amazing Work Section Img Hover*/

.load-more-btn {
    display: inline-block;
    width: 165px;
    height: 60px;
    line-height: 60px;
    border-radius: 3px;
    margin-top: 100px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    background-color: #18cfab;
    cursor: pointer;
}

.fa-plus {
    margin-right: 15px;
}

.breaking-news-section {
    padding-bottom: 133px;
}

.breaking-news-articles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 36px;
    grid-row-gap: 45px;
    text-align: left;
}

.news-articles-item {
    position: relative;
    font-size: 0;
}

.news-articles-item:hover .articles-item-date {
    background-color: #18cfab;
}

.news-articles-item:hover .item-title-text {
    color: #18cfab;
}

.articles-item-date {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 20px;
    background-color: #203e38;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.item-date-month {
    display: block;
    margin-top: 8px;
}

.articles-item-title {
    border: 1px solid #ebebeb;
    color: #f8fcfe;
}

.item-title-text {
    margin: 15px 0 15px 15px;
    font-size: 18px;
    font-weight: 700;
    color: #717171;
}

.item-title-author {
    margin-bottom: 12px;
    margin-left: 19px;
    font-size: 14px;
    font-weight: 300;
    color: #808080;
}

.item-title-comment {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #808080;
}

.what-people-say {
    background: url("../img/Sections background/section-3.jpg") fixed no-repeat;
    background-size: cover;
}

.people-say-item {
    display: none;
    opacity: 0;
}

.people-say-comment {
    position: relative;
    margin-top: 73px;
    font-size: 16px;
    font-weight: 300;
    color: #8a9295;
}

.people-say-comment:before {
    content: url("../img/what_people_say/quotes.png");
    position: absolute;
    top: -73px;
    left: 560px;
}

.people-say-author {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 37px;
    color: #a3a7a8;
}

.people-say-name {
    display: block;
    font-size: 16px;
    margin-top: 43px;
    margin-bottom: 15px;
}

.people-say-photo {
    display: inline-block;
    width: 135px;
    height: 135px;
    margin-bottom: 60px;
    border-radius: 50%;
    border: 5px solid #18cfab;
    box-shadow: 0 0 5px 10px rgba(24,207,171,0.3);
}

.photo-1 {
    background: url("../img/what_people_say/what-people-say-1.png") no-repeat center;
    background-size: contain;
}

.photo-2 {
    background: url("../img/what_people_say/what-people-say-2.png") no-repeat center;
    background-size: contain;
}

.photo-3 {
    background: url("../img/what_people_say/what-people-say-3.png") no-repeat center;
    background-size: contain;
}

.photo-4 {
    background: url("../img/what_people_say/what-people-say-4.png") no-repeat center;
    background-size: contain;
}

.people-say-carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 480px;
    padding-bottom: 100px;
    margin: 0 auto;
}

.carousel-button {
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid #909597;
}

.carousel-left-button:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 13px;
    width: 8px;
    height: 8px;
    border-left: 1px solid #bbbbbb;
    border-top: 1px solid #bbbbbb;
    transform: rotate(-45deg);
}

.carousel-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 5px 3px rgba(24,207,171,0.3);
}

.carousel-photo.carousel-active-photo {
    box-sizing: border-box;
    border: 2px solid #18cfab;
    margin-bottom: 10px;
}

.carousel-right-button:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-top: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
    transform: rotate(45deg);
}

.footer {
    line-height: 100px;
    font-size: 14px;
    font-weight: 300;
    background-color: #22353f;
    color: #9b9e9f;
    text-align: center;
}

.footer-green-text {
    color: #18cfab;
}